{% extends 'base.html' %}

{% block head %}
<title>Gra w Statki</title>
{% endblock %}

{% block body %}

<div class="content text-center">
    <div class="container mt-3 col-3 bg-dark">
        <h1 class=" py-2 text-white">Gra w Statki</h1>
    </div>

    <div class="row justify-content-center mb-3 ml-4 col-12">
        <div class="container col-2 justify-content-center fields-bg rounded shadow">
            <div class="col">
                <h1 class="text-white mt-5 bg-dark">Tools</h1>
            </div>
            <form class="justify-content-center bg-dark py-2" action="/battlefield/shot" method="POST">
                <label class="col-12 text-white" for="x_position">X Position:</label>
                <select id="y_position" name="y_position">
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                    <option value="5">E</option>
                    <option value="6">F</option>
                    <option value="7">G</option>
                    <option value="8">H</option>
                    <option value="9">I</option>
                    <option value="10">J</option>
                </select required>

                <label class="col-12 text-white" for="y_position">Y Position:</label>
                <select id="x_position" name="x_position">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select required>

                <div class="col justify-content-center py-2">
                    <input type="submit" value="Shoot!">
                </div>
            </form> 
            <form class="justify-content-center bg-dark py-2" action="/battlefield/radar" method="POST">
                <label class="col-12 text-white" for="x_position">X Position:</label>
                <select id="y_position" name="y_position">
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                    <option value="5">E</option>
                    <option value="6">F</option>
                    <option value="7">G</option>
                    <option value="8">H</option>
                    <option value="9">I</option>
                    <option value="10">J</option>
                </select required>

                <label class="col-12 text-white" for="y_position">Y Position:</label>
                <select id="x_position" name="x_position">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select required>                
                <div class="col justify-content-center py-2">
                    <input type="submit" value="Use Radar">
                </div>
            </form>
            <div class="align-items-end bg-dark py-2">
                <h5 class="text-white">Current Shot:</h5>
                <h5 class="text-white">
                    {{ currentShots }}
                </h5>
                <h5 class="text-white">Score:</h5>
                <h5 class="text-white">
                    {{ score }}
                </h5>
            </div>

        </div>
        <div class="col-10 ">
            <div class="row justify-content-evenly pt-5 ">
                <div class="bg-battlefield bg-gradient px-3 py-3 mr-5 ml-5 rounded shadow">
                    <h2>Your Ships</h2>
                    <table class="board-table">
                    {% for row in positionsDisplay %}
                        <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="bg-battlefield bg-gradient px-3 py-3 rounded shadow">
                    <h2>Your Shots</h2>
                <table class="board-table">
                {% for row in shotsDisplay %}
                    <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div> 
    
</div>
{% endblock %}
