{% extends 'base.html' %}

{% block head%}
<title>Task Master</title>
{% endblock%}

{% block body%}
<div class="content container text-center ">

    <h1>Update Task</h1>
    
    <div class="row justify-content-center">
        <div class="col-5">
            <form class="mt-3" action="/update/{{task.id}}" method="POST">
                <input type="text" name="content" id="content" value="{{task.content}}">
                <input type="submit" value="Add Task">     
            </form>
        </div>
    </div>

</div>
{% endblock%}